apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-chekelzo
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-chekelzo:bcf4949b865d66e7e9849246b137e66076dca3fe@sha256:87e105cd6a2a1626f9aca8e3936b8faaff8fd530d626b44584b1f2edd9230a4d
        name: container-image  
